{% extends 'base.html' %}
{% block extcss %}
<style>
table{
    height:230px;
    width:800px;
    border: 1px solid;
}
    td {
        border: solid 1px;
        text-align: center;
    }
    th{
        border:1px solid;
        text-align: center;
    }
</style>

{% endblock %}
{% block content %}
    <table cellspacing="0">
        <tr>
            <td colspan="4">可用ip</td>
            <td>黑名单</td>
        </tr>
        <tr>
            <td>fast</td>
            <td>代理云</td>
            <td>自建代理</td>
            <td>其它代理</td>
            <td rowspan="2">100000</td>

        </tr>
        <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
        </tr>
        <tr>
          <td colspan="4">可用ip共</td>
            <td>合计ip: 1000000</td>
        </tr>
    </table>
{% endblock %}
{% block extjs %}
{% endblock %}